body {
	background-color: #fcfcfc;
}
.main{
	padding: 4vh 15vw;
	line-height: 32px;
	font-family: "elena-web-basic", Helvetica, serif;
	color: #7e7e7e;

}

.size100{
  width: 100px;
  height: 100px;
}


table {
	color: #7e7e7e;
}

td {
    width: 300;
    height: 150;
}

h1 {
	font-size: 64px;

}

p {
    width: 700px;
}

a {
	color: #7e7e7e;
}
